@import "color.css";
.container{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1% 1fr 1fr 1fr 1%;
    grid-template-rows: 1fr 0.6fr 3fr 3fr 1fr;
    grid-template-areas:
    ". header header header ."
    ". nav nav nav ."
    ". aside main1 main2 ."
    ". aside2 main3 main3 ."
    "footer footer footer footer footer";
}
.container-kontaktaoss{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1% 2fr 1fr 1%;
    grid-template-rows: 1fr 0.6fr 6fr 1fr;
    grid-template-areas: 
    ". header header ."
    ". nav nav ."
    ". maink sidebar ."
    ". footer footer .";

}
#mainkontakt{
    grid-area: maink;
    background-color: var(--accent-color);
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 150px;
    margin-right: 500px;
    border: solid 5px var(--text-color);
    
}


#kontaktfix{
    margin-left: 30px;
    margin-top: 30px;
}
#kontaktfix p{
    font-size: 30px;
    color: var(--text-color);
    
}
#kontaktfix h1{
    font-size: 20px;
    color: var(--text-color);
}
#kontaktfix h2{
    font-size: 20px;
    color: var(--text-color);
}
#kontaktfix h3{
    font-size: 20px;
    color: var(--text-color);
}
#kontaktfix h4{
    font-size: 20px;
    color: var(--text-color);
}
#meddelanden{
    resize: none;
}
#skicka{
    font-size: 30px;
    cursor: pointer;
    box-shadow: 5px 5px 5px var(--text-color);
}
#skicka:hover{
    background-color: var(--sickain-color);
    transition: background-color 5ms;

}
#sidebar{
    grid-area: sidebar;   
}
#sidebar img{
    width: 300px;
    margin-left: 230px;
    margin-top: 70px;
    border-radius: 50px;
    box-shadow: 10px 10px 10px var(--accent-color);
    
}

body{
    background-color: var(--primary-color);
}


header{
    grid-area: header;
    background-color: var(--primary-color);
    font-size: 50px;
    text-align: center;
    color: var(--text-color);
}

nav{
    grid-area: nav;
    background-color: var(--accent-color);
}

aside{
    grid-area: aside;
    background-color: var(--primary-color);
}

#asidetwo{
    grid-area: aside2;
    background-color:  var(--primary-color);
}

#mainone{
    grid-area: main1;
    background-color: var(--accent-color);
    border-radius: 15px;
    font-size: 40px;
    color: var(--text-color);
    margin-right: 20px;
    margin-bottom: 55px;
    margin-top: 50px;
}

#sectionmain{
    grid-area: main2;
    background-color: var(--accent-color);
    border-radius: 50px;
    margin-top: 20px;
}

#sectionmain{
    display: flex;
    align-content: flex-start;
}

#sectionmain img{
   width: 100%;
   height: 100%;
   border-radius: 50px;
   
}

#sectionmaintwo{
    grid-area: main3;
    background-color: var(--accent-color);
    border-radius: 120px;
    margin-top: 25px;
    margin-bottom: 120px;
}

footer{
    grid-area: footer;
    background-color: var(--text-color);
}
footer li{
    color: var(--primary-color);
    font-size: 2em;
    list-style-type: none;
    padding-left: 30px;
    padding-bottom: 20px;
}

.navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar a{
    color: var(--text-color);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar li{
    float: left;
    font-size: 50px;
    padding-left: 60px;
}

.navbar ul{
    list-style-type: none;
    overflow: hidden;
}

.navbar a:hover{
    background-color: var(--extra-color);
    transition: 1s;
}



#mainpett{
    grid-area: main1;
    background-color: aqua;
}
#mainpett{

}
#mainpett img{
    width: 20px;
}

#mainptvå{
    grid-area: main2;
    background-color: black;
}

#mainptre{
    grid-area: main3;
    background-color: brown;
}



@media (max-width:500px){
    .container{
        display: grid;
        min-height: 100vh;
        min-width: 100vw;
        grid-template-columns: 1% 1fr 1%;
        grid-template-rows: repeat(auto);
        grid-template-areas:
        ". header ."
        ". nav ."
        ". main1 ."
        ". main2 ."
        ". main3 ."
        ". aside ."
        ". aside2 ."
        ". footer .";
    }
    header{
        max-width: 95vw;
    }
    nav{
        max-width: 95vw;
    }
    .navbar li{
        font-size: 30px;
        padding: 0;
    }
    #mainone{
        font-size: 25px;
        margin-top: 10px;
        width: 95vw;
        border-radius: 0;
    }
    #sectionmain{
        max-width: 95vw;
        border-radius: 0;
    }
    #sectionmain img{
        border-radius: 0;
    }
    #sectionmaintwo{
        width: 95VW;
        border-radius: 0;
    }
    aside{
        max-width: 95vw;
    }
    #asidetwo{
        max-width: 95vw;
    }
    footer{
        max-width: 95vw;
    }
}